.hidden {
  display: none;
}

.full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.super-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.layover {
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: justify;
}